* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: rgb(8, 8, 8);
}

.tugas {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/indonesia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.tugas .sti {
  font-size: 1rem;
  margin-bottom: 3rem;
  color: rgb(9, 9, 10);
}
.tugas .sti {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
